<?xml version="1.0" encoding="utf-8"?>
<!-- Development Config file -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FMS.Contract.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FMS.Contract.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="C:\FMS\logs\fms\error.log" footer="" formatter="Small Text Formatter"
        header="" rollFileExistsBehavior="Increment" rollInterval="Day"
        rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="Callstack" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Error Log" />
      <add fileName="C:\FMS\logs\fms\log.log" footer="" formatter="Text Formatter"
        header="" rollFileExistsBehavior="Overwrite" rollInterval="None"
        rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="LogProblems" />
      <add fileName="C:\FMS\logs\fms\trace.log" footer="" formatter="Small Text Formatter"
        header="" rollFileExistsBehavior="Increment" rollInterval="Day"
        rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="LogicalOperationStack" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="trace" />
    </listeners>
    <formatters>
      <add template="{timestamp(local)}|{appDomain}|{category}|{severity}| {message} | {dictionary({key} - {value})}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Small Text Formatter" />
      <add template="Timestamp: {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Debug">
        <listeners>
          <add name="trace" />
        </listeners>
      </add>
      <add switchValue="All" name="Exception">
        <listeners>
          <add name="Error Log" />
        </listeners>
      </add>
      <add switchValue="All" name="Info">
        <listeners>
          <add name="trace" />
        </listeners>
      </add>
      <add switchValue="All" name="Warn">
        <listeners>
          <add name="trace" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="Error" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="LogProblems" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Off, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="D:\projects\FIRST\FMS\Source\FMS.EventManager.Shell\App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>-->
  <userSettings>
    <FMS.Contract.Settings>
      <setting name="FMSServerIP" serializeAs="String">
        <value>10.0.100.5</value>
      </setting>
      <setting name="PublishPort" serializeAs="String">
        <value>8001</value>
      </setting>
      <setting name="SubscribePort" serializeAs="String">
        <value>8002</value>
      </setting>
      <setting name="EnableTeamStatusAuditing" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMockFIRSTUploadService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMockTwitterService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMockNetworkConfigService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMockScoringControllerService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMockDriverStationService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMockPLCService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMockTeamSignService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMockSCCService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMockFCUIService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseNetworkSecurity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseWPAKeys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableTwitterFeeds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisableUploadsOnCommitScore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoTime" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ManualTime" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="UseMockPublishService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMockSubscribeService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScoreControllerIp" serializeAs="String">
        <value>10.0.100.55</value>
      </setting>
      <setting name="TeamSignIP" serializeAs="String">
        <value>10.0.100.255</value>
      </setting>
      <setting name="EndPointKey" serializeAs="String">
        <value>DataServiceEndPoint</value>
      </setting>
      <setting name="EngServerEndPointKey" serializeAs="String">
        <value>EngServerEndPoint</value>
      </setting>
      <setting name="CurrentSeasonYear" serializeAs="String">
        <value>2010</value>
      </setting>
    </FMS.Contract.Settings>
  </userSettings>
  <applicationSettings>
    <FMS.Contract.Settings>
      <setting name="DefaultUseNetworkSecurity" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultUseWPAKeys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultEnableTwitterFeeds" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultDisableUploadsOnCommitScore" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Build" serializeAs="String">
        <value>1.5.0.2</value>
      </setting>
      <setting name="ReleaseNotesURL" serializeAs="String">
        <value>http://208.82.132.46:81/2010ReleaseNotes.ashx</value>
      </setting>
      <setting name="NetworkConfigurationUsesThreads" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowScoreControls" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoTimeDefault" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ManualTimeDefault" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="FMSServerIP" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="PublishPort" serializeAs="String">
        <value>8001</value>
      </setting>
      <setting name="SubscribePort" serializeAs="String">
        <value>8002</value>
      </setting>
    </FMS.Contract.Settings>
  </applicationSettings>
  <appSettings>
    <add key="SCCMock" value="false" />
    <add key="SCCIP" value="10.0.100.10" />
    <add key="SCCPath" value="1" />
    <add key="RunMode" value="2" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LargeServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="655360" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="LargeServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="655360" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBinding1" />
        <binding name="FMS.Contract.Service.EventManagerDataService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="500000000" maxBufferPoolSize="524288" maxReceivedMessageSize="500000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="500000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="ReliableTCP" sendTimeout="00:05:00" maxBufferSize="2000000" maxReceivedMessageSize="2000000" receiveTimeout="23:59:59">
          <security mode="None"/>
              <!--<reliableSession enabled="true" />-->
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!-- Event Pub-Sub endpoints Begin-->
      <endpoint name="PublishService"
           address="net.tcp://localhost:8001/PublishingService"
           binding="netTcpBinding"
           contract="FMS.Contract.Service.IMessageEvents"
           bindingConfiguration="ReliableTCP"
           behaviorConfiguration="LargeServiceBehavior"
               />
      <endpoint name="SubscribeService"
           address="net.tcp://localhost:8002/SubscriptionService"
           binding="netTcpBinding"
           contract="FMS.Contract.Service.IMessageSubscriptionService"
           bindingConfiguration="ReliableTCP"
           behaviorConfiguration="LargeServiceBehavior"
                />
      <!-- Event Pub-Sub endpoints End-->
      <endpoint address="http://localhost:8000/EventManagerDataService.svc" binding="basicHttpBinding" bindingConfiguration="FMS.Contract.Service.EventManagerDataService" contract="FMS.Contract.Service.IEventManagerDataService" name="DataServiceEndPoint" />
      <endpoint address="http://208.82.132.46/EventManagerDataService.svc" binding="basicHttpBinding" bindingConfiguration="FMS.Contract.Service.EventManagerDataService" contract="FMS.Contract.Service.IEventManagerDataService" name="EngServerEndPoint" />
    </client>
  </system.serviceModel>
</configuration>