<?xml version="1.0" encoding="utf-8"?>
<!-- Prod Config file -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FMS.Contract.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FMS.Contract.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="..\..\logs\FMSLight\error.log" footer="" formatter="Small Text Formatter"
        header="" rollFileExistsBehavior="Increment" rollInterval="Day"
        rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="Callstack" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Error Log" />
      <add fileName="..\..\logs\FMSLight\log.log" footer="" formatter="Text Formatter"
        header="" rollFileExistsBehavior="Overwrite" rollInterval="None"
        rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="LogProblems" />
      <add fileName="..\..\logs\FMSLight\trace.log" footer="" formatter="Small Text Formatter"
        header="" rollFileExistsBehavior="Increment" rollInterval="Day"
        rollSizeKB="0" timeStampPattern="yyyy-MM-dd" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="LogicalOperationStack" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="trace" />
    </listeners>
    <formatters>
      <add template="{timestamp(local)}|{appDomain}|{category}|{severity}| {message} | {dictionary({key} - {value})}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Small Text Formatter" />
      <add template="Timestamp: {timestamp(local)}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="Off" name="Debug">
        <listeners>
          <add name="trace" />
        </listeners>
      </add>
      <add switchValue="All" name="Exception">
        <listeners>
          <add name="Error Log" />
        </listeners>
      </add>
      <add switchValue="Off" name="Info">
        <listeners>
          <add name="trace" />
        </listeners>
      </add>
      <add switchValue="Off" name="Warn">
        <listeners>
          <add name="trace" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="Error" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="LogProblems" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <userSettings>
    <FMS.Contract.Settings>
      <setting name="EnableFMSToDSStatusMonitoring" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableDSControlMonitoring" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMockNetworkConfigService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMockScoringControllerService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMockTeamSignService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMockDriverStationService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMockFCUIService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMockPLCService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseMockSCCService" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoTime" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ManualTime" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="RedStation1DSPort" serializeAs="String">
        <value>1120</value>
      </setting>
      <setting name="RedStation2DSPort" serializeAs="String">
        <value>1120</value>
      </setting>
      <setting name="RedStation3DSPort" serializeAs="String">
        <value>1120</value>
      </setting>
      <setting name="BlueStation1DSPort" serializeAs="String">
        <value>1120</value>
      </setting>
      <setting name="BlueStation2DSPort" serializeAs="String">
        <value>1120</value>
      </setting>
      <setting name="BlueStation3DSPort" serializeAs="String">
        <value>1120</value>
      </setting>
      <setting name="RedStation1DSReceivePort" serializeAs="String">
        <value>1160</value>
      </setting>
      <setting name="RedStation2DSReceivePort" serializeAs="String">
        <value>1160</value>
      </setting>
      <setting name="RedStation3DSReceivePort" serializeAs="String">
        <value>1160</value>
      </setting>
      <setting name="BlueStation1DSReceivePort" serializeAs="String">
        <value>1160</value>
      </setting>
      <setting name="BlueStation2DSReceivePort" serializeAs="String">
        <value>1160</value>
      </setting>
      <setting name="BlueStation3DSReceivePort" serializeAs="String">
        <value>1160</value>
      </setting>
      <setting name="UseMockPublishService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseMockSubscribeService" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EventSubscriptionUrl" serializeAs="String">
        <value>net.tcp://localhost:8004/SubscriptionService</value>
      </setting>
      <setting name="EventPublishingUrl" serializeAs="String">
        <value>net.tcp://localhost:8003/PublishingService</value>
      </setting>
    </FMS.Contract.Settings>
  </userSettings>
  <applicationSettings>
    <FMS.Contract.Settings>
      <setting name="AutoTimeDefault" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="ManualTimeDefault" serializeAs="String">
        <value>120</value>
      </setting>
    </FMS.Contract.Settings>
  </applicationSettings>
  <appSettings>
    <add key="SCCMock" value="false" />
    <add key="SCCIP" value="192.168.1.10" />
    <add key="SCCPath" value="0" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ReliableTCP" sendTimeout="00:05:00" maxBufferSize="2000000" maxReceivedMessageSize="2000000" receiveTimeout="23:59:59">
          <security mode="None"/>
          <!--<reliableSession enabled="true" />-->
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <!-- Event Pub-Sub endpoints Begin-->
      <endpoint name="PublishService"
           address="net.tcp://localhost:8003/PublishingService"
           binding ="netTcpBinding"
           contract="FMS.Contract.Service.IMessageEvents"
           bindingConfiguration="ReliableTCP"
               />
      <endpoint name="SubscribeService"
           address="net.tcp://localhost:8004/SubscriptionService"
           binding ="netTcpBinding"
           contract="FMS.Contract.Service.IMessageSubscriptionService"
           bindingConfiguration="ReliableTCP"
                />
      <!-- Event Pub-Sub endpoints End-->
    </client>
  </system.serviceModel>
</configuration>