
{% extends "base.html" %}


{% block content %}

<form method="post" url="/edit_match_scoring/{{match.number}}" class='{{side}}'>


{% csrf_token %}

<style>
.field{
	height:508px;
	width:535px;
	position:relative;
}
.red .field{
	/*background-image: url("/assets/img/field-red.png");*/
}
.blue .field{
	/*background-image: url("/assets/img/field-blue.png");*/
}
.red .field input{
	box-shadow: 0 0 0 10px black, 0 0 0 20px gray, 0 0 0 30px black, 0 0 0 45px #eee, 0 0 0 55px red, 0 0 5px 55px #333;
	border-radius:0;
	padding:0 20px;
}
.blue .field input{
	box-shadow: 0 0 0 10px black, 0 0 0 20px gray, 0 0 0 30px black, 0 0 0 45px #eee, 0 0 0 55px blue, 0 0 5px 55px #333;
	border-radius:0;
	padding:0 20px;
}
.blue .team_number{
	color:blue;
}
.red .team_number{
	color:red;
}
.match_number{
	font-size:24px;
	font-weight: bold;
	margin:10px 0;
}
.team_number{
	font-size: 16px;
	padding-right:10px;
}
.match_info{
	margin:10px;
}
.field input{
	position:absolute;
	width:58px;
	height:40px;
	font-size:32px;
	text-align:center;
	z-index: 1000;

}

.field .field-top{
	top:70px;
	left:230px;
}
.field .field-midl{
	top:237px;
	left:112px;
}
.field .field-midr{
	top:237px;
	left:348px;
}
.field .field-low{
	top:405px;
	left:230px;
}

#hybrid::after,
#tele::after{
	content:"hybrid";
	position: absolute;
	font-size:192px;
	top:220px;
	left:0;
	color:#000;
	z-index:1;
	text-shadow:0px 0px 15px white;
	opacity:.2;
}

#tele::after{
	content: "tele";
	top:0;
	left:0;
	font-size:96px;
	text-shadow:1px 1px 5px black;
	-webkit-transform:rotate(-45deg);
}
.thanks{
	display:none;
}
.keybindings{
	width:300px;
	position:fixed;
	right:0;
	top:100px;
}
#score span{
	padding-left:20px;
	color: #ccc;
}
</style>






<div class='match_info'>

	<div class='match_number'>{{currentmatch}}</div>
	<div id="score">Score: {{scores.score}}</div>


	<span class='team_number'>{{scores.team1.number}}</span>
	<span class='team_number'>{{scores.team2.number}}</span>
	<span class='team_number'>{{scores.team3.number}}</span>

	<div>
		{% if prevmatch %}
			<a href="/edit_match_scoring/{{ prevmatch }}/{{side}}" class='btn' id='prevmatch'>Previous Match</a>
		{% endif %}

		{% if nextmatch %}
			<a href="/edit_match_scoring/{{ nextmatch }}/{{side}}" class='btn' id="nextmatch">Next Match</a>
		{% endif %}

		<!-- <a href="/edit_match_scoring/{{ currentmatch.number }}/{{otherside}}" class='btn btn-warning'>Switch Sides</a> -->

		{% if saved %}
			<div class='btn btn-danger' onclick="$('.scoring').show();$(this).hide(); $('.keybindings .game').show(); $('.keybindings .non-game').hide(); $('.keybindings .endgame').hide(); ">Edit Scores</div>
		{% endif %}
	</div>

</div>

{% if saved %}
	<style>
		.scoring{
			display:none;
		}
		.thanks{
			display:block;
		}
		.keybindings .game{
			display:none;
		}
	</style>
{% else %}
<style>
		
		.keybindings .non-game{
			display:none;
		}
		.keybindings .endgame{
			display:none;
		}
	</style>
{% endif %}

<div class='scoring'>
	{% if not played %}
		<ul class="nav nav-tabs" id="myTab">
		  <li class="active"><a href="#hybrid">Hybrid</a></li>
		  <li><a href="#tele">Tele</a></li>
		  <li><a href="#endgame">End Game</a></li>
		</ul>
		 
		<div class="tab-content">
		  <div class="tab-pane active field" id="hybrid">
		  		<input type='number' min='0' max='99' class="field-top"  value="{{scores.hybrid_top}}" name="hybrid_top"  id="hybrid_top">
				<input type='number' min='0' max='99' class="field-midl" value="{{scores.hybrid_mid}}" name="hybrid_midl" id="hybrid_midl">
				<input type='number' min='0' max='99' class="field-midr" value="0"                     name="hybrid_midr" id="hybrid_midr">
				<input type='number' min='0' max='99' class="field-low"  value="{{scores.hybrid_low}}" name="hybrid_low"  id="hybrid_low">
		  </div>
		  <div class="tab-pane field" id="tele">
		  		<input type='number' min='0' max='99' class="field-top"  value="{{scores.tele_top}}" name="tele_top"  id="tele_top">
				<input type='number' min='0' max='99' class="field-midl" value="{{scores.tele_mid}}" name="tele_midl" id="tele_midl">
				<input type='number' min='0' max='99' class="field-midr" value="0"                   name="tele_midr" id="tele_midr">
				<input type='number' min='0' max='99' class="field-low"  value="{{scores.tele_low}}" name="tele_low"  id="tele_low">
		  </div>
		  <div class="tab-pane" id="endgame">
				
				<label for='bridge'>Bridge Bots</label>
				
				<input type='number' name="bridge" min='0' max='3' value="{{scores.bridge}}" id='bridge'>
				

				


				<label for='final_red_ball'>Final Red Ball(s)</label>
				<input type='number' name="final_red_ball" id="final_red_ball" min='0' max='99' value='{{scores.final_red_ball}}'>

				<label>
					<input type="checkbox" name="coop" {% if scores.coop %} checked {% endif %} id="coop"> Co-opertion Bridge
				</label>
				
		  </div>
		</div>
		 
		<script>
		  $(function () {
		    // $('#myTab a:last').tab('show');
		    $('#myTab a').click(function (e) {
			  e.preventDefault();
			  $(this).tab('show');
			})

			$(document).bind('keypress', 'w', function (evt){ increment('.active .field-top') });
			$(document).bind('keypress', 'd', function (evt){ increment('.active .field-midr')  });
			$(document).bind('keypress', 'a', function (evt){ increment('.active .field-midl')  });
			$(document).bind('keypress', 's', function (evt){ increment('.active .field-low') });

			$(document).bind('keypress', 'shift+w', function (evt){ decrement('.active .field-top') });
			$(document).bind('keypress', 'shift+d', function (evt){ decrement('.active .field-midr')  });
			$(document).bind('keypress', 'shift+a', function (evt){ decrement('.active .field-midl')  });
			$(document).bind('keypress', 'shift+s', function (evt){ decrement('.active .field-low') });

			$(document).bind('keypress', 'q', function (evt){ $('#myTab li:eq(0) a').tab('show'); $('.keybindings .hoops').show(); $('.keybindings .endgame').hide(); });
			$(document).bind('keypress', 'e', function (evt){ $('#myTab li:eq(1) a').tab('show'); $('.keybindings .hoops').show(); $('.keybindings .endgame').hide(); });
			$(document).bind('keypress', 'r', function (evt){ $('#myTab li:eq(2) a').tab('show'); $('.keybindings .hoops').hide(); $('.keybindings .endgame').show(); });

			$(document).bind('keypress', 'b', function (evt){ cycleBridge() });
			$(document).bind('keypress', 'c', function (evt){ toggleCoop() });

			$(document).bind('keypress', 'f', function (evt){ increment('.active #final_red_ball') });
			$(document).bind('keypress', 'shift+f', function (evt){ decrement('.active #final_red_ball') });
			$('input').attr('autocomplete','off');
		  });

		function increment(target){
			$(target).val(parseInt($(target).val()) + 1);
			calculateScore();
			return false;
		}

		function decrement(target){
			var value = parseInt($(target).val()) - 1;
			if(value < 0)
				value = 0;
			$(target).val(value);
			calculateScore();
			return false;
		}

		function cycleBridge(){
			target = ".active #bridge";
			var value = parseInt($(target).val()) + 1;
			if(value > 3)
				value = 0;
			$(target).val(value);
			calculateScore();
		}

		function toggleCoop(){
			$(".active #coop").prop('checked', ! $(".active #coop").prop("checked"));
		}

		function calculateScore(){
			// def score_hybrid(self):
			// 	return self.hybrid_top*6 + self.hybrid_mid*5 + self.hybrid_low*4

			// def score_tele(self):
			// 	return self.tele_top*3 + self.tele_mid*2 + self.tele_low + self.final_red_ball * 20

			// def score_bridge(self):
			// 	# max of 20 points 
			// 	bridge_points = self.bridge * 10
			// 	if(bridge_points > 20):
			// 		bridge_points = 20
			// 	return bridge_points

			// def score(self):
			// 	score = 0

			// 	score += self.score_hybrid()
			// 	score += self.score_tele()
			// 	score += self.score_bridge()

			// 	score -= self.penalties

			// 	return score
			var score = 0;
			score += parseInt($("#hybrid_top").val()) * 6;
			score += parseInt($("#hybrid_midr").val()) * 5;
			score += parseInt($("#hybrid_midl").val()) * 5;
			score += parseInt($("#hybrid_low").val()) * 4;

			score += parseInt($("#tele_top").val()) * 3;
			score += parseInt($("#tele_midr").val()) * 2;
			score += parseInt($("#tele_midl").val()) * 2;
			score += parseInt($("#tele_low").val()) * 1;

			var bridge_points = 0;
			bridge_points = parseInt($("#bridge").val()) * 10;
			if(bridge_points > 20)
				bridge_points = 20;
			score += bridge_points;
			score += parseInt($("#final_red_ball").val()) * 20;

			$("#score").html("Score: " + score + "<span>(calculated, does not include penalties)</span>");

			return score;

		}
		</script>

		<div style='margin:10px 0;'>
			<input type='submit' class='btn btn-primary' value='Save Scores'/>
		</div>

		
	{% else %}
		This match has been marked as played, and the score cannot be changed with this interface. Check with the admin if you need to make a correction.
	{% endif %}
</div>

<script>
		  $(function () {
		  		$(document).bind('keypress', ',', function (evt){ window.location.href = $('#prevmatch').attr('href'); });
		  		$(document).bind('keypress', '.', function (evt){ window.location.href = $('#nextmatch').attr('href'); });
		  	});
</script>

<div class='keybindings'>
	<table class='table table-bordered table-striped'>
		<tr>
			<th>Key</th>
			<th>Action</th>
		</tr>
		<tr class='non-game'><td>.</td><td>Next Match</td></tr>
		<tr class='non-game'><td>,</td><td>Previous Match</td></tr>
		<tr class='game '><td>Q</td><td>Hybrid Tab</td></tr>
		<tr class='game '><td>E</td><td>Tele Tab</td></tr>
		<tr class='game '><td>R</td><td>End Game Tab</td></tr>
		<tr class='game hoops'><td>W</td><td>Increment Top</td></tr>
		<tr class='game hoops'><td>A</td><td>Increment Mid Left</td></tr>
		<tr class='game hoops'><td>S</td><td>Increment Bottom</td></tr>
		<tr class='game hoops'><td>D</td><td>Increment Mid Right</td></tr>
		<tr class='game hoops'><td>Shift + W</td><td>Decrement Top</td></tr>
		<tr class='game hoops'><td>Shift + A</td><td>Decrement Mid Left</td></tr>
		<tr class='game hoops'><td>Shift + S</td><td>Decrement Bottom</td></tr>
		<tr class='game hoops'><td>Shift + D</td><td>Decrement Mid Right</td></tr>
		<tr class='game endgame'><td>B</td><td>Cycle Bridge Bots (0-3)</td></tr>
		<tr class='game endgame'><td>F</td><td>Increment Final Red Ball</td></tr>
		<tr class='game endgame'><td>Shift+F</td><td>Decrement Final Red Ball</td></tr>
		<tr class='game endgame'><td>C</td><td>Toggle Co-opertition</td></tr>
	</table>
</div>
</form>

<!-- {{scores.updated}} -->

{% endblock %}