
{% extends "base.html" %}


{% block content %}

<style>
	ul li{
		list-style: none;
		margin:5px 0 5px 20px;
	}
	ul li.step{
		font-size:24px;
		margin-left:0;
		margin-top:20px;
		border-bottom: 1px solid #ccc;
	}
</style>
<ul>
	<li class='step'>Step 1</li>
	<li>Add Teams</li>
	<li class='step'>Step 2</li>
	<li>Generate and Import Match List</li>
	<li class='step'>Step 3</li>
	<li>Play all the matches</li>
	<li class='step'>Step 4</li>
	<li>Select alliances and enter them in the system, then create the initial 4 finals matches</li>
	<li class='step'>Step 5</li>
	<li>Play the finals matches, new matches will auto populate in the match list as needed</li>
	<li class='step'>Step 6</li>
	<li>Declare winner</li>
</ul>

{% endblock %}