
{% extends "base.html" %}


{% block content %}


<table class='table table-bordered table-striped table-condensed table-responsive'>
	<tr class='fixed'>
		<td>Rank</td>
		<td>Team</td>
		<td>QS</td>
		<td>Auto Pts</td>
		<td>Climb Pts</td>
		<td>Teleop Pts</td>
		<td>Record<br />(W-L-T)</td>
		<td>DQ</td>
		<td>Played</td>
	</tr>
{% for team, scores in rankings %}
	<tr id="team{{team}}">
		<td>{{forloop.counter}}</td>
		<td>{{team}}</td>
		<td>{{scores.QS}}</td>
		<td>{{scores.sum_auto_goal}}</td>
		<td>{{scores.sum_teleop_points}}</td>
		<td>{{scores.sum_climb_points}}</td>
		<td>({{scores.Wins}} - {{scores.Losses}} - {{scores.Ties}})</td>
		<td>{{scores.DQ}}</td>
		<td>{{scores.Played}}</td>
	</tr>
{% endfor %}
</table>


{% endblock %}